/target
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/modules.xml
/.idea/realtime-sensor-actuator.iml
/.idea/vcs.xml
/.idea/.gitignore
